.about {
  padding-bottom: 0px;

  @media (max-width: $desktop-width) {
    padding-top: 15px;
    padding-bottom: 20px;
  }

  @media (max-width: $tablet-width) {
    padding-bottom: 65px;
  }
}

.about__wrapper {
  @include wrapper;
  padding-bottom: 50px;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $desktop-width) {
    padding-left: 0;
  }

  @media (max-width: $tablet-width) {
    background-image: none;
    padding-bottom: 0;
    padding-left: 15px;
  }
}

.about__image-wrapper {
  width: 17.5%;

  @media (max-width: $desktop-width) {
    width: 28%;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.about__image-wrapper-position {
  margin-top: 30px;

  @media (max-width: $desktop-width) {
    margin-top: 10px;
  }
}

.about__content-wrapper {
  width: 82.5%;

  @media (max-width: $desktop-width) {
    width: 70%;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.about__title {
  font-family: $roboto;
  font-weight: $fontweight-normal;
  font-size: $fontsize-largest;
  line-height: 51px;
  color: $color-dimgray;

  @media (max-width: $desktop-width) {
    font-size: $fontsize-larger;
    line-height: 45px;
  }

  @media (max-width: $tablet-width) {
    font-size: $fontsize-large;
    line-height: 39px;
  }
}

.about__title-position {
  margin-bottom: 20px;

  @media (max-width: $desktop-width) {
    margin-top: 7px;
    margin-bottom: 25px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.about__wrapper p {
  font-family: $ptmono;
  font-size: $fontsize-standart;
  color: $color-dimgray;
  line-height: 22px;
  margin-bottom: 20px;
}

.about__text-wrapper {
  margin-bottom: 40px;

  @media (max-width: $desktop-width) {
    margin-bottom: 45px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 33px;
  }
}

.about__text-wrapper p:last-child {
  @media (max-width: $desktop-width) {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media (max-width: $tablet-width) {
    -webkit-line-clamp: 8;
  }
}
