.about {
  padding-bottom: 20px;

  @media (max-width: $desktop-width) {
    padding-bottom: 83px;
  }

  @media (max-width: $tablet-width) {
    padding-bottom: 65px;
  }
}

.about__wrapper {
  @include wrapper;
  padding-bottom: 110px;
  padding-left: 210px;

  background-image: url("../img/year-tablet.png");
  background-repeat: no-repeat;
  background-position: left 0;

  @media (max-width: $desktop-width) {
    padding-left: 210px;
  }

  @media (max-width: $tablet-width) {
    background-image: none;
  }

  @media (min-width: $desktopwide-width) {
    padding-left: 210px;
  }
}

.about__title {
  font-family: $roboto;
  font-weight: $fontweight-normal;
  font-size: $fontsize-largest;

  color: $color-dimgray;

  @media (max-width: $desktop-width) {
    font-size: $fontsize-larger;
  }

  @media (max-width: $tablet-width) {
    font-size: $fontsize-large;
  }
}

.about__text {
  font-family: $ptmono;
  font-size: $fontsize-standart;
  color: $color-dimgray;
  line-height: 22px;
}

.about__text-position {
  margin-bottom: 35px;
}
