.advantage {
  padding-top: 88px;
  padding-bottom: 40px;

  @media (max-width: $desktop-width) {
    padding-top: 28px;
    padding-bottom: 0;
  }

  @media (max-width: $tablet-width) {
    padding-top: 20px;
  }
}

.advantage__wrapper {
  @include wrapper;

  @media (min-width: $desktopwide-width) {
    width: 1170px;
    padding-right: 0;
    padding-left: 0;
  }
}

.advantage__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $desktopwide-width) {
    justify-content: space-between;
  }
}

.advantage__item {
  border: 1px solid $color-lightgray;
  border-left: 2px solid $color-skyblue;
  padding-top: 70px;
  padding-right: 10px;
  padding-bottom: 25px;
  padding-left: 25px;
  width: 48%;
  cursor: pointer;

  @media (max-width: $desktop-width) {
    width: 48%;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktopwide-width) {
    width: 570px;
  }

  &--stopwatch::before {
    background-image: url("../img/stopwatch.png");
    width: 30px;
    height: 35px;
  }

  &--hired::before {
    background-image: url("../img/hired.png");
    width: 32px;
    height: 33px;
  }

  &--detective::before {
    background-image: url("../img/detective.png");
    width: 31px;
    height: 27px;
  }

  &--tag::before {
    background-image: url("../img/tag.png");
    width: 33px;
    height: 33px;
  }
}

.advantage__item-position {
  position: relative;
  margin-bottom: 20px;

  @media (max-width: $desktop-width) {
    margin-bottom: 30px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.advantage__item::before {
  position: absolute;
  top: 40px;
  left: 45px;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  content: "";
}

.advantage__title {
  font-family: $roboto;
  font-weight: $fontweight-normal;
  color: $color-skyblue;
  font-size: $fontsize-much-bigger;
  padding-left: 20px;

  @media (max-width: $tablet-width) {
    font-size: $fontsize-above;
  }
}

.advantage__text {
  font-family: $ptmono;
  color: $color-dimgray;
  font-size: $fontsize-standart;
  line-height: 22px;
  padding-left: 20px;
}

// Взаимодействие с элементами

@media (min-width: $desktop-width) {
  .advantage__item:hover {
    transition: 150ms;
    background-color: $color-skyblue;
  }

  .advantage__item:hover .advantage__title,
  .advantage__item:hover .advantage__text {
    color: $color-white;
  }

  .advantage__item {
    &--stopwatch:hover::before {
      background-image: url("../img/stopwatch--white.png");
    }

    &--hired:hover::before {
      background-image: url("../img/hired--white.png");
    }

    &--detective:hover::before {
      background-image: url("../img/detective--white.png");
    }

    &--tag:hover::before {
      background-image: url("../img/tag--white.png");
    }
  }
}
