.button {
  font-family: $roboto;
  font-weight: $fontweight-bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 5px;
   &--callback {
     font-size: $fontsize-smaller;
     font-weight: $fontweight-bold;
     border: 1px solid $color-white;
     color: $color-white;
     background-color: transparent;
     display: none;
   }

   &--lead {
     background-color: $color-skyblue;
     font-size: $fontsize-standart;
     color: $color-white;
     border: none;
     width: 100%;
     padding-top: 20px;
     padding-bottom: 18px;
   }

   @media (min-width: $tablet-width) {
     &--lead {
       width: 380px;
     }
   }

   @media (min-width: $desktop-width) {
     display: block;
     padding-top: 14px;
     padding-bottom: 11px;
     width: 180px;

     &--lead {
       width: 407px;
     }
   }
}

.button-position {
  @media (min-width: $tablet-width) {
    &--lead {
      margin-left: 115px;
    }
  }

  @media (min-width: $desktop-width) {
    &--lead {
      margin-left: 50px;
    }
  }
}

.button__text {
  &--tablet {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: inline-block;
    }
  }
}
