.feedback {
  padding-top: 60px;
  padding-bottom: 100px;
  background-color: $color-skyblue;

  &--popup {
    padding-top: 0;
    width: 490px;
  }

  @media (max-width: $desktop-width) {
    padding-top: 5px;
    padding-bottom: 25px;
  }
}

.feedback-position {
  &--popup {
    margin-right: auto;
    margin-left: auto;
  }
}

.feedback__wrapper {
  @include wrapper;
  display: flex;
  justify-content: space-between;

  &--popup {
    width: 490px;
  }

  @media (max-width: $desktop-width) {
    width: auto;
    padding-right: 90px;
    padding-left: 90px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: $desktopwide-width) {
    width: 1200px;
    padding-left: 0;
    padding-right: 0;
  }
}

.feedback__wrapper-position {
  position: relative;
}

.feedback__image-wrapper {
  flex-basis: 42%;
  width: 42%;

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.feedback__form {
  flex-basis: 47%;
  width: 47%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &--popup {
    flex-basis: 100%;
    width: 100%;
  }

  @media (max-width: $desktop-width) {
    flex-basis: 100%;
  }
}

.feedback__title {
  flex-basis: 100%;
  font-family: $roboto;
  font-weight: $fontweight-normal;
  font-size: $fontsize-largest;
  color: $color-white;

  @media (max-width: $tablet-width) {
    line-height: 50px;
  }
}

.feedback__title-position {
  margin-bottom: 10px;
}

.feedback__subtitle {
  flex-basis: 100%;
  font-family: $ptmono;
  font-weight: $fontweight-normal;
  font-size: $fontsize-standart;
  color: $color-white;
}

.feedback__subtitle-position {
  margin-bottom: 45px;

  @media (max-width: $tablet-width) {
    margin-bottom: 25px;
  }
}

.feedback__label {
  display: flex;
  align-items: center;
  flex-basis: 45%;
  font-family: $ptmono;
  font-weight: $fontweight-normal;
  font-size: $fontsize-smaller;
  color: $color-white;
  opacity: 0.8;
  padding-left: 27px;


  &--popup {
    flex-basis: 100%;
  }

  @media (max-width: $tablet-width) {
    flex-basis: 100%;
  }
}

.feedback__label-position {
  position: relative;
  margin-top: 10px;
}

.feedback__label::before {
  position: absolute;
  width: 16px;
  height: 16px;
  content: "";
  left: 0;
  background-image: url("../img/checkbox.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.feedback__checkbox:checked+.feedback__label::before {
  background-image: url("../img/checked.png");
}

.feedback__input,
.feedback__textarea {
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 17px;
  font-family: $ptmono;
  font-weight: $fontweight-normal;
  font-size: $fontsize-standart;
  color: $color-white;
  background-color: $color-deepblue;
  border: none;
}

.feedback__input {
  flex-basis: 47%;
  width: 47%;

  &--popup {
    flex-basis: 100%;
  }

  @media (max-width: $tablet-width) {
    flex-basis: 100%;
  }
}

.feedback__input-position {
  margin-bottom: 40px;

  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.feedback__textarea {
  resize: none;

  @media (max-width: $desktop-width) {
    flex-basis: auto;
  }
}

.feedback__textarea-position {
  margin-bottom: 43px;

  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.feedback__input::placeholder,
.feedback__textarea::placeholder {
  color: $color-white;
}

.feedback__image {
  margin-top: 100px;
}

.feedback__close {
  width: 17px;
  height: 17px;
}

.feedback__close-position {
  position: absolute;
  top: 20px;
  right: 20px;
}
