.footer {
  padding-top: 65px;
  padding-bottom: 15px;

  @media (max-width: $desktop-width) {
    padding-top: 15px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 45px;
  }
}

.footer__wrapper {
  @include wrapper;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $desktopwide-width) {
    width: 1400px;
    justify-content: flex-start;
  }
}

.footer__links {
  @media (max-width: $desktop-width) {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color-lightestgray;
  }

  @media (max-width: $desktop-width) {
    padding-bottom: 15px;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
  }
}

.footer__links-position {
  @media (min-width: $desktopwide-width) {
    margin-right: 14%;
  }
}

.footer__rights {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.footer__rights-position {
  margin-top: 10px;

  @media (max-width: $desktop-width) {
    margin-top: 0;
  }
}

.footer__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $desktopwide-width) {
    column-count: 2;

    &--links {
      display: block;
    }
  }

  @media (max-width: $tablet-width) {
    display: none;
    padding-bottom: 10px;
  }
}

.footer__address,
.footer__mapping {
  @media (max-width: $desktop-width) {
    padding-top: 40px;
    padding-bottom: 10px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    border-bottom: 1px solid $color-lightestgray;
  }
}

.footer__address-position {
  position: relative;
  @media (min-width: $desktopwide-width) {
    margin-left: auto;
  }
}

.footer__checkbox {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
  }
}

.footer__address :checked ~ .footer__list,
.footer__mapping :checked ~ .footer__list {
  display: block;
}

.footer__title::after {
  display: none;

  @media (max-width: $tablet-width) {
    content: "+";
    display: block;
    font-family: $ptmono;
    font-size: 20px;
    padding-right: 10px;
    color: $color-gray;
    font-size: $fontsize-much-bigger;
  }
}

.footer__address :checked + .footer__title::after,
.footer__mapping :checked + .footer__title::after {
  content: "-";
}

.footer__controls {
  @media (max-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer__item {
  flex-basis: 25%;
}

.footer__link {
  display: block;
}

.footer__title {
  font-family: $roboto;
  font-size: $fontsize-medium;
  font-weight: $fontweight-normal;
  text-transform: uppercase;
  color: $color-deepdark;


  @media (max-width: $tablet-width) {
    padding-top: 25px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

.footer__link {
  font-family: $ptmono;
  font-size: $fontsize-medium;
  line-height: 26px;
  text-decoration: none;
  color: $color-deepdark;
  opacity: 0.5;
}

.footer__rights {
  border-top: 1px solid $color-lightestgray;

  @media (max-width: $tablet-width) {
    border: none;
  }
}

.footer__developer {
  font-family: $ptmono;
  font-size: $fontsize-smallest;
  text-transform: uppercase;
  color: $color-deepdark;
  opacity: 0.5;
  &--logo {
    display: none;
  }

  @media (min-width: $desktopwide-width) {
    &--reserved {
      margin-right: 100px;
    }

    &--dates {
      margin-right: 140px;
    }

    &--trademark {
      margin-left: auto;
    }
  }

  @media (max-width: $desktop-width) {
    &--reserved {
      display: none;
    }

    &--dates {
      display: none;
    }

    &--logo {
      display: block;
    }
  }
}

.footer__logo {
  display: block;
}

.footer__logo-position {
  margin-bottom: 50px;

  @media (max-width: $desktop-width) {
    margin-bottom: 0;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 15px;
  }
}
