.header {
  background-color: $color-teal;
  background-image: url("../img/lead-bg.png");
  background-size: cover;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include wrapper;
  padding-top: 33px;

  @media (min-width: $desktopwide-width) {
    width: 1400px;
  }
}
