.lead {
  padding-top: 250px;
  padding-bottom: 273px;
  background-color: $color-teal;
  background-image: url("../img/lead-bg.png");
  background-size: cover;

  @media (max-width: $desktop-width) {
    padding-top: 170px;
    padding-bottom: 165px;
    background-image: url("../img/lead-tablet-bg.png"),
      url("../img/vector-lead-tablet.png");
    background-size: cover, 770px 569px;
    background-repeat: no-repeat;
    background-position: center center, right 5px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 280px;
    padding-bottom: 70px;
    background-image: url("../img/lead-mobile-bg.png"),
      url("../img/vector-lead-mobile.png");
    background-size: cover, 320px 520px;
    background-repeat: no-repeat;
    background-position: center center, right 30px;
  }
}

.lead-position {
  position: relative;
}

.lead__image-wrapper {
  position: absolute;
  right: 8.5%;
  top: 260px;
  z-index: 0;

  @media (max-width: $desktop-width) {
    top: 127px;
    right: 0;
  }

  @media (max-width: $tablet-width) {
    top: 120px;
  }
}

.lead__image {
  z-index: 0;
  width: 705px;
  height: 515px;

  @media (max-width: $desktop-width) {
    width: 260px;
    height: 340px;
  }

  @media (max-width: $tablet-width) {
    width: 294px;
    height: 220px;
  }
}

.lead__wrapper {
  @include wrapper;

  @media (min-width: $desktopwide-width) {
    width: 1400px;
    padding-left: 0;
  }
}

.lead__title {
  font-family: $roboto;
  font-weight: $fontweight-bold;
  text-transform: uppercase;
  color: $color-white;
  letter-spacing: 0.07em;
  font-size: $fontsize-maximized;
  line-height: 94px;
  width: 800px;
  z-index: 1;

  @media (max-width: $desktop-width) {
    font-size: $fontsize-gigantic;
    line-height: 70px;
    width: 400px;
  }

  @media (max-width: $tablet-width) {
    font-size: $fontsize-giant;
    line-height: 47px;
    width: 270px;
  }

  @media (min-width: $desktopwide-width) {
    padding-top: 10px;
  }
}

.lead__title-position {
  position: relative;
  margin-bottom: 35px;
  margin-left: 0;

  @media (max-width: $desktop-width) {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 64px;
  }

  @media (min-width: $desktopwide-width) {
    margin-bottom: 0px;
    margin-left: 0;
  }
}

.lead__subtitle {
  position: relative;
  font-family: $ptmono;
  font-size: $fontsize-bigger;
  line-height: 34px;
  z-index: 1;

  color: $color-white;
  line-height: 1.7em;
  padding-left: 48px;
  width: 660px;

  &::before {
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 63px;
    background-color: $color-white;
    top: 19px;
    left: -40px;
  }

  @media (max-width: $desktop-width) {
    font-size: $fontsize-higher;
    line-height: 28px;
    width: 400px;

    &::before {
      width: 33px;
      top: 17px;
      left: 0;
    }
  }

  @media (max-width: $tablet-width) {
    line-height: 25px;
    width: 270px;
  }
}

.lead__subtitle-position {
  margin-top: 27px;
  margin-bottom: 40px;
  margin-left: 45px;

  @media (max-width: $desktop-width) {
    margin-bottom: 52px;
    margin-left: 66px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 32px;
    margin-left: 0;
  }

}

.lead__anchor {
  font-family: $ptmono;
  font-size: $fontsize-smaller;
  color: $color-white;
  text-decoration: none;
  display: block;
  opacity: 0.5;
  position: absolute;
  transform: rotate(-90deg);
  left: 11.3%;
  bottom: 143px;
  transition: 150ms;

  &:hover,
  &:focus,
  &:active {
    opacity: 1;
  }


  @media (max-width: $desktop-width) {
    display: none;
  }
}
