.lead {
  background-color: $color-teal;
  padding-top: 180px;
  padding-bottom: 290px;
  background-image: url("../img/plate-desktop.png");
  background-position: 85% 165px;
  background-repeat: no-repeat;

  @media (max-width: $desktop-width) {
    padding-top: 60px;
    padding-bottom: 170px;
    background-image: url("../img/plate-tablet.png");
    background-position: right 40px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 170px;
    padding-bottom: 70px;
    background-image: url("../img/plate-mobile.png");
    background-position: right 0;
  }
}

.lead__wrapper {
  @include wrapper;

  @media (min-width: $desktopwide-width) {
    width: 1400px;
  }
}

.lead__title {
  font-family: $roboto;
  font-weight: $fontweight-bold;
  text-transform: uppercase;
  color: $color-white;
  letter-spacing: 0.07em;
  font-size: $fontsize-maximized;
  width: 800px;

  @media (max-width: $desktop-width) {
    font-size: $fontsize-gigantic;
    width: 400px;
  }

  @media (max-width: $tablet-width) {
    font-size: $fontsize-giant;
    width: 270px;
  }
}

.lead__title-position {
    margin-bottom: 35px;
    margin-left: 0;

  @media (max-width: $desktop-width) {
    margin-bottom: 20px;
    margin-left: 64px;
  }

  @media (max-width: $desktop-width) {
    margin-left: 0;
  }
}

.lead__subtitle {
  position: relative;
  font-family: $ptmono;
  font-size: $fontsize-higher;

  color: $color-white;
  line-height: 1.7em;
  padding-left: 48px;
  width: 550px;

  &:before {
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 33px;
    background-color: $color-white;
    top: 16px;
    left: 0;
  }

  @media (max-width: $desktop-width) {
    font-size: $fontsize-standart;
    width: 350px;
  }

  @media (max-width: $tablet-width) {
    width: 270px;
  }
}

.lead__subtitle-position {
    margin-bottom: 42px;
    margin-left: 0;

  @media (max-width: $desktop-width) {
    margin-bottom: 52px;
    margin-left: 66px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 32px;
    margin-left: 0;
  }
}

.lead__anchor {
  font-family: $ptmono;
  font-size: $fontsize-smaller;
  color: $color-white;
  text-decoration: none;
  display: block;
  opacity: 0.5;


  @media (max-width: $desktop-width) {
    display: none;
  }
}
