.rights {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $color-lightestgray;
  padding-top: 3px;

  @media (max-width: $tablet-width) {
    border: none;
  }
}

.rights__wrapper {
  @include wrapper;
  display: flex;
  width: 100%;
  justify-content: space-between;

  @media (min-width: $desktopwide-width) {
    width: 1400px;
    padding-right: 0;
    padding-left: 0;
  }

  @media (max-width: $desktop-width) {
    padding-top: 5px;
    width: 100%;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
  }
}

.rights__developer {
  font-family: $ptmono;
  font-size: $fontsize-smallest;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-deepdark;
  opacity: 0.5;

  &--logo {
    display: none;
  }

  @media (min-width: $desktopwide-width) {
    &--reserved {
      margin-right: 100px;
    }

    &--dates {
      margin-right: 140px;
    }

    &--trademark {
      margin-left: auto;
    }
  }

  @media (max-width: $desktop-width) {
    &--reserved {
      display: none;
    }

    &--dates {
      display: none;
    }

    &--logo {
      display: block;
      letter-spacing: 0.04em;
    }
  }

  @media (max-width: $tablet-width) {
    margin-top: 22px;
    margin-bottom: 0;
  }
}
