.service {
  display: flex;
  align-items: center;
  list-style: none;
}

.service-position {
  @media (min-width: $desktop-width) {
    margin-right: 40px;
  }
}

.service__link {
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $color-white;
  font-family: $ptmono;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center center;
  &--email {
    background-image: url('../img/envelope.png');
    margin-right: 23px;
  }

  &--phone {
    background-image: url('../img/phone-call.png');
  }

  @media (min-width: $desktop-width) {
    width: 220px;
    padding-left: 41px;
    font-size: $fontsize-standart;
    background-position: left center;
  }
}
