.social {
  list-style: none;
  padding-left: 0;
  display: flex;
}

.social__item {
  margin-right: 15px;
}

.social-position {
  margin-bottom: 60px;

  @media (max-width: $desktop-width) {
    margin-right: 10px;
    margin-bottom: 20px;
  }

  @media (max-width: $tablet-width) {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
