@font-face {
  font-family: "PT Mono";
  src: url("../fonts/PTMono-Regular.woff2") format("woff2"),
   url("../fonts/PTMono-Regular.woff2") format("woff2");
  font-weight: $fontweight-normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"),
  url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: $fontweight-normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"),
  url("../fonts/RobotoCondensed-Bold.woff2") format("woff2");
  font-weight: $fontweight-bold;
  font-display: swap;
}
