@font-face {
  font-family: "PT Mono";
  src: url(../fonts/PTMono.ttf);
  font-weight: $fontweight-normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url(../fonts/RobotoCondensed-Regular.ttf);
  font-weight: $fontweight-normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url(../fonts/RobotoCondensed-Bold.ttf);
  font-weight: $fontweight-bold;
}
