html {
  box-sizing: border-box;
  min-width: 320px;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: inherit;
}

img {
  display: inline-block;
  margin: 0 auto;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px
}

.popup {
  position: absolute;
  z-index: 9999;
  padding-top: 136px;
  padding-bottom: 200px;
  top: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
}

.hidden {
  display: none;
}
