@mixin wrapper {
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: $desktop-width) {
    padding-right: 25px;
    padding-left: 25px;
  }

  @media (max-width: $tablet-width) {
    padding-right: 15px;
    padding-left: 15px;
  }


  @media (min-width: $desktopwide-width) {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}
