// Шрифты

$roboto: "Roboto Condensed", Arial, sans-serif;
$ptmono: "PT Mono", Arial, sans-serif;

// Разрешения экрана


$desktopwide-width: 1400px;
$desktop-width: 1023px;
$tablet-width: 767px;
$mobile-width: 319px;

// Ретина-условия
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Размеры шрифта
$fontsize-minimized: 12px;
$fontsize-smallest: 13px;
$fontsize-smaller: 14px;
$fontsize-medium: 15px;
$fontsize-standart: 16px;
$fontsize-higher: 18px;
$fontsize-above: 20px;
$fontsize-bigger: 22px;
$fontsize-much-bigger: 24px;
$fontsize-large: 28px;
$fontsize-larger: 32px;
$fontsize-largest: 36px;
$fontsize-giant: 40px;
$fontsize-gigantic: 60px;
$fontsize-maximized: 80px;

// Толщина шрифта
$fontweight-normal: 400;
$fontweight-bold: 600;

// Цвета
$color-white: #ffffff;
$color-skyblue: #00B2FF;
$color-deepblue: #19BAFF;
$color-deepdark: #1B2D37;
$color-darkgreen: #203C42;
$color-gray: #788891;
$color-dimgray: #666666;
$color-teal: #1B2931;
$color-lightgray: #EBEBEB;
$color-lightestgray: #DCDDDC;
